@media screen and (max-width: 1400px) {
	.section-text {top: 120px; width: 440px;}
	h1.section-text__title {
		font-size: 60px;
		font-weight: normal;
	}
	p.section-text__text {
		font-size: 20px;
	}
	/**/
	nav {
		margin-top: -140px;
	}
	nav ul li {
		height: 70px;
	}
	nav ul li.characteristics {
		background-size: 70px 70px;
		&:hover {background-size: 70px 70px;}
		&.active {background-size: 70px 70px;}
	}
	nav ul li.technical {
		background-size: 70px 70px;
		&:hover {background-size: 70px 70px;}
		&.active {background-size: 70px 70px;}
	}
	nav ul li.photos {
		background-size: 70px 70px;
		&:hover {background-size: 70px 70px;}
		&.active {background-size: 70px 70px;}
	}
	nav ul li.order {
		background-size: 70px 70px;
		&:hover {background-size: 70px 70px;}
		&.active {background-size: 70px 70px;}
	}
	nav ul li a { line-height: 70px; padding-left: 65px;}
	/**************************/
	.galery {
		display: none;
	}
	/************************/
	.order-contacts-block {bottom: 100px; height: 400px; width: 90%;}
	textarea {display: none;}
	.order-contacts-block .order-block h1 {font-size: 32px; margin: 0;}
	.order-contacts-block .order-block h4 {margin: 10px 0;}
	/************************/
	.logo { width: 240px; height: 60px; }
	/******************************/
	.headphone-container {display: none;}
	.background-section-5 {background: url(../img/backgrounds/bg-5.jpg) no-repeat center transparent;background-size: cover;}
}

@media screen and (max-width: 1000px) {
	.galery-slider {width: 500px;}
}

@media screen and (max-width: 700px) {
	nav {display: none;}
	.section-text {
		width: 100%; position: relative; top: 0; padding: 10px; box-sizing: border-box;
	}
	.ui-help__mouse {display: none;}
	.share {display: none;}
	.socials {display: none;}
	.galery-slider {width: 70%;}
	a.button {
		right: 10px;
		bottom: 10px;
		padding: 8px 10px;
	}
	h1.section-text__title {
		font-size: 50px; margin: 10px 0;
	}
	.logo { width: 100px; height: 30px; top: 10px; left: 10px;}
	a.phone-number {top: 10px; right: 10px; font-size: 18px; line-height: 30px;}
	/****************/
	nav ul li:hover a {
		font-size: 0px;
	}
	/****************/
	.order-contacts-block {
		width: 100%;
		position: relative; height: auto; bottom: 0; right: 0; left: 0; top: 0; margin: auto;

	}
	.order-contacts-block .order-block {
		float: none; width: 100%; padding: 20px; box-sizing: border-box;
	}
	.order-contacts-block .contacts-block {
		float: none; width: 100%;
	}
	.order-contacts-block .contacts-block .contacts-container {
		position: relative;
	}
	/*******************/
	.order-contacts-block .order-block h1 {
		font-size: 24px;
	}
	.order-contacts-block .order-block h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 400px) {
	h1.section-text__title {
		font-size: 32px;
	}
	.order-contacts-block .order-block h1 {
		font-size: 18px;
	}
	.order-contacts-block .order-block h4 {
		font-size: 14px;
	}
	.order-contacts-block .order-block { padding: 10px; }
	/***/
	form {text-align: center;}
	form p {margin: 5px 0;}
	input, textarea {font-size: 14px;}
	.order-contacts-block .contacts-block .contacts-container p {font-size: 14px; padding: 4px 10px; margin: 4px 0;}
	input[type="submit"] {
		padding: 8px 10px;
		font-size: 14px;
	}
	textarea {display: none;}
	input[type="submit"] {
		float: none;
	}
	a.phone-number:before {display: none;}
	/****************/
	.background-section-1 {
		background-size: cover;
		background-position: -360px 0;
	}
	.background-section-3 {
		background-size: cover;
		background-position: -120px 0;
	}
}