$number-font-color: #946321;

$border-button-color: #946321;
$button-font-color: #946321;

$share-font-color: #dedede;

$nav-font-color: #dedede;
$nav-font-color-hover: #946321;

$section-font-color: #dedede;

$order-h1-font-color: #dedede;
$order-h4-font-color: #dedede;

$input-font-color: #dedede;
$input-border-color: #dedede;

$adress-font-color: #946321;

$form-complite-font-color: #fff;

$developer-font-color: #999;
$developer-font-color-hover: #fff;